<div class="container px-5 px-sm-0">
    <h2><strong>Players</strong>にようこそ</h2>
    <p>このサイトは、</br>
    <span class="bg-warning">自分が遊んだゲームの記録</span>や</br>
    <span class="bg-warning">感想を共有</span>することができます。</p>
</div>
