<div class="container px-5 px-sm-0">
    <div class="main-container">
        <h2 class="text-white"><strong>Players</strong>にようこそ</h2>
        <p class="text-white">このサイトは、</br>
        <span class="bg-info">自分が遊んだゲームの記録</span>や</br>
        <span class="bg-info">感想を共有</span>することができます。</p>
    </div>
</div>
