// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-container {
  background-image: image-url('lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
  height: 800px;
  background-size: cover;

}

.copyright {
  display: flex;
  justify-content: flex-end;
  
}